<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>AngularJS</title>
    <link rel="stylesheet" href="../base.css" />
  </head>
  <body>
    <div ng-controller="MainCtrl">
      <button type="button" ng-click="minus()">-</button>
      <span ng-bind="count">0</span>
      <button type="button" ng-click="plus()">+</button>
      <div ng-show="count >= 2">Shown on 2 or more</div>
    </div>
  </body>
  <script type="text/javascript" src="./angularjs.js"></script>
  <script>
    Provider.controller("MainCtrl", ($scope) => {
      $scope.count = 0;
      $scope.minus = () => {
        $scope.count -= 1;
      };
      $scope.plus = () => {
        $scope.count += 1;
      };
    });
  </script>
</html>
